<% locals.stations.forEach(station => { %>
	<input type="radio" name="station" tabindex="-1"
	id="station-goto-<%= station.id %>"
	value="<%= station.id %>"/>
<% }) %>

<% locals.cars.forEach(car => { %>
	<input type="radio" name="car" tabindex="-1"
	id="car-goto-<%= car.id %>"
	value="<%= car.id %>"/>
<% }) %>

<div class="top">
	<div class="">
		<% locals.stations.forEach(station => { %>
			<label for="station-goto-<%= station.id %>"></label>
		<% }) %>
	</div>
	<div class=""></div>
</div>